<footer class="main-footer">
    <!-- Default to the left -->
    <strong>Comida Rápida &copy; 2022</strong>
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        TEC de Tezitlán
    </div>

</footer>