<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="../../index3.html" class="navbar-brand">
            <span class="brand-text font-weight-light">Comida Rápida</span>
        </a>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Pedidos" asp-action="Listar" class="nav-link">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Vendedores" asp-action="Listar" class="nav-link">Vendedores</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Repartidores" asp-action="Listar" class="nav-link">Repartidores</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Pedidos</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="#" class="dropdown-item">Recibidos</a></li>
                        <li><a href="#" class="dropdown-item">Entregados</a></li>                      
                    </ul>
                </li>
            </ul>

         
        </div>

    </div>
</nav>